<div class="container" style="background-image: url(https://images.app.goo.gl/jLx19Cuy6W2oq8538)">
  <div class="jumbotron">
    <h1>Eat Da Burger!</h1>
    {{!-- <h2>Add a Burger</h2> --}}
    
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="lefthead"><h2>Burger Menu:</h2></div>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <li>{{burger_name/burger-block devoured=false}}</li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="lefthead"><h2>Burgers devoured: </h2></div>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <li>{{burger_name/burger-block devoured=true}}</li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>

    </div>
  </div>
  <div class="containter">
      <form class="create-form">
        <div class="form-group">
          <label for="devoured">Add a burger: </label><br>
          <input type="radio" name="devoured" value="1" checked> Devoured!<br>
          <input type="radio" name="devoured" value="0"> Not Devoured
        </div>
        <div class="form-group">
          <label for="burger">Burger Name:</label>
          <input type="text" id="burger" name="name">
        </div>

        <button type="submit">Add Burger</button>

      </form>

      <form class="delete-form">

        {{#each burgers}}
        <button class="change-devour" data-id="{{id}}">Delete {{name}}</button>
        {{/each}}
      </form>
    </div>
</div>